<div class="col-sm-4">
  <div class="card">
    <div class="card-header">
      <div class="float-right">
        <% if current_user.has_role? :admin, current_account %>
          <%= link_to team_path(team), {method: :delete, data: { confirm: "Are you sure? Deleting this team is permanent"}} do %>
            <button class="btn btn-default btn-sm">
              <span style="color:#b30000;">
                <i class="fa fa-trash"></i>
              </span>
            </button>
          <% end %>
        <% end %>
      </div>
      <%= link_to team_path(team), {id: "team_#{team.id}_header"} do %>
        <h3 class="card-title">
          <%= team.name %>
        </h3>
      <% end %>
    </div>
    <%= link_to team_path(team), {id: "team_#{team.id}_body"} do %>
      <div class="card-body">
        <h4>Description: </h4>
        <p>
          <%=team.description %>
        </p>
        <h4> Members </h4>
        <div class="team-members">
          <% if team.users.blank? %>
            <p>
              No Users have been added to the team
            </p>
          <% else %>
            <%=team.users.pluck(:name).join(', ') %>
          <% end %>
        </div>
        <h4>Standup Details</h4>
        <div class="row m-t-sm">
          <div class="col-sm-6">
            <%= "On days #{team.days.pluck(:day).map(&:humanize).join(', ')}" %>
          </div>
          <div class="col-sm-6">
            <%="Reminder is #{team.reminder_time.strftime("at %I:%M%p")}" %>
            <br />
            <%="Recap is #{team.recap_time.strftime("at %I:%M%p")}" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>