<nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom <%="#{'no-team' unless @team.present? && !@team.id.nil?}" %>">
  <ul class="navbar-nav">
    <% if @team.present? && !@team.id.nil? %>
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#">
          <i class="fas fa-bars"></i>
        </a>
      </li>
    <% end %>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/t" class="nav-link">Teams</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/s" class="nav-link">Standups</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href='/s/new/<%="#{Date.today.iso8601}"%>' class="nav-link standup">
        Submit a Standup
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
    </li>
    <li class="nav-item dropdown user-menu">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <img
          class="user-image"
          alt="User Image"
          src='<%="#{gravatar_image_url(current_user.email, size: 25, secure:false )} "%>'
          class="fas fa-th-large">
        </img>
        <span class="hidden-xs">
          <%= current_user.name %>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">
          <%= current_user.name %>
        </span>
        <div class="dropdown-divider"></div>
        <a href="/user/me" class="dropdown-item">
          Profile
        </a>
        <a href="/account/users" class="dropdown-item">
          Settings
        </a>
        <div class="dropdown-divider"></div>
        <%= link_to(destroy_user_session_path, :method => :delete, class: 'dropdown-item') do %>
          <i class="fas fa-sign-out-alt"></i> Log out
        <% end %>
      </div>
    </li>
  </ul>
</nav>